body {
    font-family: Arial;
    text-align: center;
    background: pink;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

li {
    margin: 10px;
}